/*body{
	height: 200px;
	background-color: aqua;
	-webkit-filter: blur(4px) opacity(0.3);
}
#header h1{
	text-align: center;
	color: white;
	font-size: 100px;
}*/

.topLayer #currentStatusChart {
	border: 2px dashed black;
	height: 400px;
	width: 100%;
	float:left;
	align: center;
}

#currentStatusChart path {
  fill-rule: evenodd;
  fill-opacity: .7;
  stroke: #666;
  stroke-width: 5.5px;
}

.info{
	fill: teal;
	font-size: 20px;
}

#historyChart {
	border: 2px dashed black;
	height: 400px;
	width: 100%;
}

.barLabels {
	fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

/*tool-tip*/
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: 40px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: orange;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none; 
  color: black;        
}

#historyChart .nav {
	list-style-type: none;
  margin: 0;
  padding: 0;
}

#historyChart .nav #right{
	float: right;
}

#historyChart .nav li {
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
	background-color: maroon;
	color: white;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
}