body{
	height: 100%;
	/*background-color: rgba(20,22,24,.9);*/
	/*-webkit-filter: blur(4px) opacity(0.3);*/
	background: -webkit-linear-gradient(rgba(0,0,0,1), rgba(48,72,94,1));
	background-repeat: no-repeat;
	color:white;
	font-family: "Helvetica";
	color: white;
}

#header h1{
	border: 2px solid #C0C0C0;
	text-align: center;
	color: white;
	font-size: 100px;
	background-color: rgba(63, 181, 231, 0.3);
	margin: 30px 72px 30px 72px;
	border-radius: 20px;
}

.topLayer #currentStatusChart {
	border: 2px solid #C0C0C0;
	height: 400px;
	width: 90%;
	margin: 20px auto;
	background-color: rgba(201,225,247,.5);
	border-radius: 200px;
}


#currentStatusChart path {
  fill-rule: evenodd;
  fill-opacity: .7;
  stroke: #666;
  stroke-width: 5.5px;
}

.info, .chargingStatus{
	fill: white;
	font-size: 20px;
}

#historyChart {
	border: 2px solid #C0C0C0;
	height: 500px;
	width: 90%;
	margin: 0 auto;
	background-color: rgba(110,126,142,.5);
	border-radius: 20px;
}

.barLabels {
	fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

/*tool-tip*/
div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 120px;                  
  height: 40px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: orange;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none; 
  color: white;        
}

#historyChart .nav {
	list-style-type: none;
  margin: 0;
  padding: 0;
}

#historyChart .nav #right{
	float: right;
}

#historyChart .nav li {
	display: inline;
	padding-left: 8px;
	padding-right: 8px;
	background-color: maroon;
	color: white;
	border-radius: 5px;
	margin: 10px 10px 10px 10px;
}